.is-section-woocommerce {
	.layout__primary {
		display: flex;
		justify-content: center;
	}
}

.woocommerce {
	@import 'app/shipping/style';

	flex-grow: 1;

	@import 'app/products/product-form';
	@import 'components/form-dimensions-input/style';
	@import 'app/shipping/style';
}
